@import '~styles/css/color';

.wrapper-generic-multiSelect {
  width: 100%;
  padding: 0.4em;
  background-color: $color-white;
  position: relative;
 .wrapper-multiSelect-placeholder {
   color: rgba($color-black, .5);
   input {
     border: none;
     padding: 1em;
     margin: 0;
     width: 100%;
   }
 }
 .wrapper-content-multiselect {
   max-height: 200px;
   overflow: auto;
   width: 100%;
   box-shadow: 0.1em 0.1em 0.1em 0.1em rgba($color-black, .2);
   position: absolute;
   background-color: $color-white;
   left: 0;
   top: 100%;
   label {
     padding: 1em;
     display: flex;
     justify-content: space-between;
     align-items: center;
   }
 }
}