@import '~styles/css/variable';

#header {
   padding: 30px;
   .header-wrapper {
      align-items: center;
      justify-content: center;
      font-size: 28px;
   }
   .header-pic {
      height: 100px;
   }
}
