@import 'color';
@import 'font';
@import 'variable';
@import 'button';

.flex {
   display: flex;
}

.f-column {
   flex-direction: column;
}

.align-center {
   align-items: center;
}

.j-space-between {
   justify-content: space-between;
}

.container {
   max-width: 1080px;
   padding-left: 2.5em;
   padding-right: 2.5em;
   margin-left: auto;
   margin-right: auto;
}

.col-6 {
   width: 50%;
}

.margin-b-15 {
   margin-bottom: 1.25em;
}

.padding-l-15 {
   padding-left: 1.25em;
}

.padding-15 {
   padding: 1.25em;
}

.padding-l-6 {
   padding-left: 0.7em;
}

.padding-r-6 {
   padding-right: 0.7em;
}