@import 'base';
@import 'variable';

html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: $genericSizing;
}

button, input {
  &:focus {
    outline: none;
  }
}

button {
  outline: none !important;
  &:hover {
    cursor: pointer;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

p {
  margin-top: 0;
}